<!DOCTYPE html>
<html lang="en">
<head><% include partials/pages/head.ejs %>
    <% include partials/pages/jsdefaults.ejs %></head>

<% include partials/pages/header.ejs %>

<body>
<h2>Calculator With Bootstrap</h2>
<form id="form" role="form"  action="/mycal" method="post">
<div class="container">
    <div style="border: 2px solid black; width: 14.3%;  border-radius: 5px; padding: 5px ; background-color: #adadad">
        <div  id="display"
          style="height: 50px;
          width: 100%;
          border: solid 2px ;
          margin-top: 3px;
          padding:3px;
          font-size:10px;
          border-radius: 5px;
          background-color: white;
          color:black;
">

            <%= result %> </div>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >9</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >8</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >7</button>
    <button type="button" class="btn btn-warning" style="margin-top: 3px" onclick=" clearabc('C')">c</button>


    <br>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >6</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >5</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)"  >4</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" operator(this)">*</button>

    <br>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >3</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >2</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)" >1</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick="operator(this)" >-</button>

    <br>
    <button type="submit" class="btn btn-default" style="margin-top: 3px" onclick=" is_equal()">=</button>
    <button type="button" class="btn btn-primary" style="margin-top: 3px" onclick="assign(this)">0</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" operator(this)" >+</button>
    <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" operator(this)">/</button>
        <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" Dot()"> . </button>
        <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" squareRoot()"> √ </button>
        <button type="button" class="btn btn-default" style="margin-top: 3px" onclick=" pow()">^2</button>

            <input type="text" hidden="hidden"  name="firstNum">
            <input type="text"   hidden="hidden"  name="inputBoxOpeartor">
            <input type="text"  hidden="hidden" name="secondNum">


    </div>
    </div>
</form>

<script type="text/javascript">

    var value1 , value2, varSign, display, answer,  flag = 0, digit= 0, cal;
    display=document.getElementById('display');
    cal = document.getElementById('cal');
 function assign(element) {
     if (flag == 0 ) {
         if(value1== undefined){
             value1=element.innerHTML;
         }
         else {
             value1+=element.innerHTML;
         }
         display.innerHTML= value1;

         (document.getElementsByName('firstNum')[0]).value = parseFloat(value1);
     }

     else if (flag == 1) {
         if(value2== undefined){
             value2=element.innerHTML;
         }
         else {
             value2+=element.innerHTML;
         }
         display.innerHTML= value2;
         (document.getElementsByName('secondNum')[0]).value = parseFloat(value2);

     }

 }
     function operator(element) {
         flag = 1;
         varSign = element.innerHTML;
         display.innerHTML = varSign;
         (document.getElementsByName('inputBoxOpeartor')[0]).value = varSign;
     }


     function is_equal() {
             value1 = parseInt(value1);
             value2 = parseInt(value2);
         cal.innerHTML = value1 + varSign + value2;


     }

     function clearabc() {
         value1 = undefined;
         value2 = undefined;
         varSign = undefined;
         display.innerHTML = 'O';

     }


    function Dot(){                  //PUT IN "." if appropriate.
     if ( value1.indexOf(".") == -1 || value1 != undefined)
     { value1 = value1 +".";
     }
        display.innerHTML = value1;
    if ( value2.indexOf(".") == -1 || value2 != undefined)
        {
            value2 = value2 + ".";
        }
            display.innerHTML = value2;

    (document.getElementsByName('firstNum')[0]).value = parseFloat(value1);
        (document.getElementsByName('secondNum')[0]).value = parseFloat(value2);
    }

    function squareRoot(){
        value1 = Math.sqrt(value1, 2);

        display.innerHTML = value1;
        (document.getElementsByName('firstNum')[0]).value = parseInt(value1);

    }

    function pow(){
         value1 =  Math.pow(value1, 2);
        display.innerHTML = value1;
        (document.getElementsByName('firstNum')[0]).value = parseInt(value1);
    }

/*


    function is_equal(){

        value1=parseInt(value1);
        value2=parseInt(value2);


        if(varSign=='+'){
            value1+=value2;
            display.innerHTML=value1;
        }
        else if(varSign=='-'){
            value1-=value2;
            display.innerHTML=value1;
        }
        else if(varSign=='*'){
            value1*=value2;
            display.innerHTML=value1;
        }
        else if(varSign=='/'){
            value1/=value2;
            display.innerHTML=value1;
        }

    }


    function clearabc(){
        value1=undefined;
        value2=undefined;
        varSign=undefined;
        display.innerHTML='O';

    }

    function assign(val){
        if (varSign==undefined){
            if(value1== undefined){
                value1=val;
            }
            else {
                value1+=val;
            }
            display.innerHTML=value1;
        }

        else {

            if(value2== undefined){
                value2=val;
            }
            else {
                value2+=val;
            }
            display.innerHTML=value2;
        }

    }

    function operator(sign){
       // varSign=sign;

        //display.innerHTML=varSign;

    }
*/


</script>

<% include partials/pages/footer.ejs %>


</body>
</html>




